body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.navbar-brand .fa-brands{
    color: #FF385C;
    font-size: 2.5rem;
}
.nav-link{
    color: black !important;
}


/* footer */






.f-info-links a{
    text-decoration: none;
    color: black;
    margin: 10px;
    
}
.f-info-links :hover{
    text-decoration: underline;
}
.f-info-social,.f-info-links,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
   
}

.f-info-social i{
     font-size: 1.2rem;
     margin-right: 2rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: rgb(215, 211, 211);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
}


/* card */


.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0;
}

.card-text p{
    font-weight:400;
}

.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white ;
}


.show-img{
    
    height: 40vh;
    
}
.btns{
    display: flex;
    
}


.category-item{
    margin-left: 1rem;
}